@import "../../scss/config/settings";

.box--options {
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle;

  & &__item {
    margin: 2.5rem;
    width: 14rem;
    height: 6rem;
    transition: 0.25s;
    padding: 0;

    .link {
      width: inherit;
      height: inherit;
      display: block;


      .label {
        font-size: 22px;
        background: $purple-to-blue-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 auto;
        width: fit-content;
        font-weight: bold;
        line-height: 6rem;
      }
    }
  }

  & &__item:hover {
    cursor: pointer;
    transform: scale(1.025, 1.025);
    border: 1px solid transparent;
    border-image-source: $purple-to-blue-gradient;
    border-image-slice: 1;
    transition: 0.15s;
  }

}

