@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$red: hsl(348, 100%, 61%);
$green: hsl(141, 53%, 53%);
$turqoise: hsl(171, 100%, 41%);

// Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/sass/utilities/all";
@import "../node_modules/bulma/sass/base/all";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/other";
@import "../node_modules/bulma/sass/elements/icon";
@import "../node_modules/bulma/sass/elements/all";
@import "../node_modules/bulma/sass/form/all";
@import "../node_modules/bulma/sass/components/message";